<div class="container header-container">
  <nav class="header-navigation">
    <a href="./index.html" class="header-logo link">Frontend solution</a>
    <ul class="header-menu list">
      <li class="header-menu-item">
        <a href="./index.html" class="header-menu-link link current">Studio</a>
      </li>
      <li class="header-menu-item">
        <a href="./portfolio.html" class="header-menu-link link">Portfolio</a>
      </li>
      <li class="header-menu-item">
        <a href="" class="header-menu-link link">Contacts</a>
      </li>
    </ul>
  </nav>
  <address class="address">
    <ul class="address-list list">
      <li class="address-item">
        <a href="mailto:info@devstudio.com" class="address-link link"
          >info@devstudio.com</a
        >
      </li>
      <li class="address-item">
        <a href="tel:+110001111111" class="address-link link"
          >+11 (000) 111-11-11</a
        >
      </li>
    </ul>
  </address>
  <button type="button" class="open-menu-btn" data-menu-open>
    <svg class="icon-charm" width="32" height="22">
      <use href="./images/icons.svg#icon-charm-menu"></use>
    </svg>
  </button>
</div>

<div class="mob-menu is is-hidden" data-menu>
  <button type="button" class="mob-close-btn" data-menu-close>
    <svg class="" width="8" height="8">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>
  <ul class="mob-menu-list list">
    <li class="mob-menu-item">
      <a href="./index.html" class="mob-menu-link link current">Studio</a>
    </li>
    <li class="mob-menu-item">
      <a href="./portfolio.html" class="mob-menu-link link">Portfolio</a>
    </li>
    <li class="mob-menu-item">
      <a href="" class="mob-menu-link link">Contacts</a>
    </li>
  </ul>

  <ul class="mob-list list">
    <li class="mob-item">
      <a href="mailto:info@devstudio.com" class="mail-link link"
        >info@devstudio.com</a
      >
    </li>
    <li class="mob-item">
      <a href="tel:+110001111111" class="phone-link link"
        >+11 (000) 111-11-11</a
      >
    </li>
  </ul>
</div>
